<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>

<body>
    {% macro header(title) %}
    <header>
        <a href="{{ url_for('dashboard') }}" class="site-title career-green">CareerCraft</a>
        <span>{{ title }}</span>
    </header>
    {% endmacro %}

    {% macro footer() %}
    <footer>
        <span>&copy; 2025 CareerCraft. All rights reserved.</span>
    </footer>
    {% endmacro %}
</body>

</html>
